.root {
  background-color: #c9c9c9;
  padding: 15px 0;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #9bc406;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 20px;
  padding: 3px 15px;
  text-decoration: none;

  &:hover {
    background-color: #4a6e0a;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}